<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/chat/css/chat.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>
    <script src="/static/chat/js/chat.js"></script>
</head>
<body>


<div class="container">
    <footer class="footer">
        <a href="/stories/home" target="_blank">Manage Stories</a><hr>
        <a href="/stories/upload" target="_blank">Upload CSV</a>
    </footer>
</div>
</body>
</html>